* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

caption {
  background: linear-gradient(to bottom, #f2f2f2, #e6e6e6);
  color: #333;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

p {
  text-align: start;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e6e6e6;
}

td:hover {
  background-color: #e6e6e6;
}

th:first-child,
td:first-child {
  width: 80%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 10%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 10%;
}

.buttons {
  position: fixed;
  right: 1rem;
  top: 1rem;
  display: flex;
  gap: 1rem;
}

button {
  font-family: inherit;
  font-weight: 600;
  display: inline-block;
  border: none;
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

button:hover {
  background-color: #e0e0e0;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #999;
}

#root {
  display: flex;
  flex-direction: column;
}

.desc {
  flex-direction: column-reverse !important;
}
