.tryrating-container {
  position: absolute;
  z-index: 99999;
  background: #2e2c2f;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  width: 100px;
  bottom: 12%;
  padding: 4px;
  text-align: center;
}
